    <div class="col-md-6 m-auto">
        <div class="text-center">
              <h1 class="mt-4">Your Profile</h1>
              <p class="lead mb-3">Welcome <%= user.name %></p>
  
              <h3>Please select an option!</h3>
            
              <a href="/questionnaire" class="btn btn-info btn-block">Questionnaire</a>
              <a href="/question" class="btn btn-info btn-block">Download results</a>
              <a href="/users/logout" class="btn btn-info btn-block">Logout</a>
              
          </div>  
          
      </div>
      
   